<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Projectkoor CHANTage</title>
        <meta charset="UTF-8">
        
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
               <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--FB remarketing-->
        <script>(function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
          }
          _fbq.push(['addPixelId', '757161807700247']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=757161807700247&amp;ev=PixelInitialized" /></noscript>
        <!--end FB remarketing-->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        
         <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37221185-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
         </script>
         <script>
             
             function toggleMenu()
             {
                 
                 var navigatie = document.getElementById('navMenu');
                 navigatie.classList.toggle('showMenu');
             }
         </script>
         <link rel="stylesheet" href="/templates/chantage-mobiel/css/basic.css">
    </head>
    <body>
        <div id='topBar'>
            <div id='blueBar'>
                <img src='/templates/chantage-mobiel/assets/chantage-klein.png'>
                <a href='javascript:toggleMenu()'><div id='menuButton'>MENU</div></a>
            </div>


        </div>
        <div id='navMenu'>
            <h1>Projectkoor CHANTage</h1>
            <div id='navLinks'>
                <a href='/index.php'><div class='link'>STARTPAGINA</div></a>
                <a href='/luminous-night.php'><div class='link'>LUMINOUS NIGHT</div></a>
                <a href='/vorige_concerten.php'><div class='link'>VORIGE CONCERTEN</div></a>
                <a href='/wieisbegonnen.php'><div class='link'>WIE IS BEGONNEN?</div></a>
                <a href='/sponsors.php'><div class='link'>SPONSORS</div></a>
                <a href='/modules/audities/index.php'><div class='link'>AUDITIES</div></a>
                <a href='/contact.php'><div class='link'>CONTACT</div></a>
            </div>
        </div>
        
        <div id='content'>
        
            <PageContent>
        </div>  </body>
</html>
