<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" href="/images/favicon.ico" mce_href="/images/favicon.ico" type="image/x-icon" />
<title>3 Musketiers de musical - Jeugdtheater De Toverlantaarn</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/templates/3musketiers-fase5/css/positioning.css" rel="stylesheet" type="text/css" />
<link href="/templates/3musketiers-fase5/css/general.css" rel="stylesheet" type="text/css" />
<script src="/scripts/AC_RunActiveContent.js" type="text/javascript"></script>

<script type="text/javascript" src="/modules/ticketserver/javascript/tickets.js"></script>
<script type="text/javascript" src="/modules/ticketserver/postcodes/postcodes.js"></script>
<script type="text/javascript" SRC="/core/logic/common.js"></script>
</head>

<body onLoad="javascript:createDiv()">


<div id="bodyshell">
	<div id="tabel">
    	<div id="headerregio">
        	<div id="navigatie">
            	<ul>
                	<li><a href="/index.php"><img src="/templates/3musketiers-fase5/navigatieknoppen/hoofdpagina.png" /></a></li>
                	<li><a href="/verhaal.php"><img src="/templates/3musketiers-fase5/navigatieknoppen/verhaal.png" /></a></li>  
                    <li><a href="/cast.php"><img src="/templates/3musketiers-fase5/navigatieknoppen/cast.png" /></a></li>               
                    <li><a href="/voorstellingen.php"><img src="/templates/3musketiers-fase5/navigatieknoppen/voorstellingen.png" /></a></li>
                	<li><a href="/creatief.php"><img src="/templates/3musketiers-fase5/navigatieknoppen/creatief.png" /></a></li>                                     	
                	<li><a href="/media.php"><img src="/templates/3musketiers-fase5/navigatieknoppen/media.png" /></a></li>  
                    <li><a href="/sponsors.php"><img src="/templates/3musketiers-fase5/navigatieknoppen/sponsors.png" /></a></li>                         	                    
                	<li><a href="http://www.detoverlantaarn.be"><img src="/templates/3musketiers-fase5/navigatieknoppen/toverlantaarn.png" /></a></li>                                        
                </ul>
            </div>
            <div id="header">
           	  <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','979','height','203','src','/templates/3musketiers-fase5/assets/header','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','/templates/3musketiers-fase5/assets/header' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="979" height="203">
                <param name="movie" value="/templates/3musketiers-fase5/assets/header.swf" />
                <param name="quality" value="high" />
                <embed src="/templates/3musketiers-fase5/assets/header.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="979" height="203"></embed>
       	      </object></noscript>
            </div>
          <div id="nieuwsboxheader">
            </div>
            <div id="playerbalk">
            	<div id="login">
                <form action="/auditiesprotected.php" method="post">
            	Gebruikersnaam <input type="text" name="username" />&nbsp;&nbsp;Wachtwoord <input type="password" name="password" />&nbsp;&nbsp;<input type="submit" value="Inloggen" />
                </form>
                </div>
            </div>
            <div id="witruimteonderplayer">
            </div>
        </div>
        
        <div id="mainregio">
        	<div id="nieuwsbox">
            	<div id="blijfopdehoogte">
                <center><img src='/templates/3musketiers-fase5/extraimages/blijfopdehoogteside.png' /></center>
                <form method="post" action="/nieuwsbrief/subscribe.php">
                <center><input type="text" name="adress" id="adress" onClick="javascript:this.value=''" SIZE="20" MAXLENGTH="50" VALUE="typ hier uw mailadres" /></center><center><input type="submit" name="nieuwsbrief" VALUE="inschrijven" /></center>
				</form>
                </div>
            	<h2>maandag 01 november 2010</h2>
                <h1>Videodagboek 2</h1>
                <h3>40 acteurs overleefden onze eerste auditieronde. In de tweede ronde wordt de lat nog hoger gelegd. In deze tweede ronde komen dans, acteren en koorzang aan bod. We tonen u beelden van deze audities.             
                <p><a href="/videodagboek2.php">Bekijk deze aflevering</a></p></h3>
            	<h2>zaterdag 02 oktober 2010</h2>
                <h1>Opvoeringsdata 3M</h1>
                <h3>Jeugdtheater De Toverlantaarn maakt vandaag de definitieve opvoeringsdata bekend voor 3 Musketiers. U kan de data op terugvinden onder <a href="/voorstellingen.php">voorstellingen</a>. Tickets zijn verkrijgbaar vanaf december 2010. Meer info volgt...</h3>
            	<h2>woensdag 15 september 2010</h2>
                <h1>Videodagboek 1</h1>
                <h3>De première komt langzaam maar zeker dichterbij. Ondertussen wordt er reeds maanden druk gerepeteerd aan choreo, zang en acteren. Omdat wij niet kunnen wachten om u kennis te laten maken met onze productie publiceren wij vandaag de eerste aflevering van onze videodagboeken. Wij nemen u mee naar de eerste auditieronde. De kandidaten moeten zich bewijzen voor onze strenge jury.<p><a href="/videodagboek1.php">Bekijk deze aflevering</a></p></h3>
            	<h2>vrijdag 20 mei 2010</h2>
                <h1>De musketiers laten van zich horen</h1>
                <h3>De repetities voor 3 Musketiers zijn ondertussen bijna 5 maand bezig. Hoog tijd dus om eens te laten zien waar wij mee bezig zijn. Vandaag werd een eerste fragment gelanceerd waarin u de musketiers voor het eerst aan het werk kan zien.<p><a href="/teaser.php">Meer info</a></p></h3>
               
            	<h2>vrijdag 11 december 2009</h2>
                <h1>Officiële persvoorstelling</h1>
                <h3>De Toverlantaarn stelt vandaag officieel de cast voor van 3 musketiers. Ontdek nu wie u in 2011 aan het werk kan zien bij de opvoeringen!<p><a href="/cast.php">Meer info</a></p></h3>
            </div>
            <div id="grensnieuwsmain">
            &nbsp;
            </div>
            <div id="main">
            	<DIV id="maintekst">
           	 	<PageContent>
                </div>
            </div>
        </div>
        <div id="footerregio">
			<div id="nieuwsboxfooter">
            </div>
            <div id="footergrens">
            </div>
            <div id="witruimteondermain">
            </div>
            <div id="joopcredits">
            	<div id="jooptekst">
            	Deze productie is gebaseerd op de oorspronkelijke productie van Joop van den Ende Theaterproducties B.V. 
            	<br />Jeugdtheater De Toverlantaarn heeft van Joop van den Ende Theaterproducties BV een amateurlicentie verkregen.
                </div>
            </div>
            <div id="toverlantaarncredits">
            	<div id="tovertekst">
            	www.3musketiers.be | Jeugdtheater De Toverlantaarn 2009 - 2010 | <a href="mailto:info@3musketiers.be">info@3musketiers.be</a>
                </div>
            </div>
        </div>
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15374940-2");
pageTracker._setDomainName(".3musketiers.be");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
