/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-jul-2014, 20:40:08
    Author     : matthiasba
*/

#siteShell.navBig {
    padding-top: 15em;
}

#siteNews .nadruk {
    background-color: rgba(255,255,255,0.8);
    color: #424242;
}

#siteNews h1 {
    color: #FFFFFF;
}