/* 
    Document   : main-tablet-landscape
    Created on : 26-jul-2013, 16:11:38
    Author     : matthiasba
    Description:
        Aanpassingen specifiek voor tablets in landscape mode. 
        Een aantal big klasses worden vervangen met de regels voor small
        Op die manier zal een tablet in landscape mode de navigatie niet uitklappen
*/

