/* 
    Document   : smartphone
    Created on : 27-jul-2013, 11:22:37
    Author     : matthiasba
    Description:
        Specifieke regels voor smartphone
*/

.navBig #navMain, .navSmall #navMain {
    background-color: rgba(66,66,66,0.8);
    height: 6em;
}

.navBig #logo {
    display: none;
}

.navBig #logoSmall {
    position: absolute;
    left: 0.4em;
    top: 0.4em;
}

#siteShell.navBig ,#siteShell.navSmall {
       padding-top: 6em;
}


.navBig #navLinks, .navSmall #navLinks { 
    display: none;
    left: auto;
    top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding: 0em;
    height: 17em;

    width: 20em;
    background: #FFFFFF;
    
    border-style: solid;
    border-width: 0.1em;
    border-color: #424242;
    
}

#mobileMenu {
    display: block;
    float: right;
    margin-right: 2em;
    height: 100%;
    vertical-align: middle;
}

#mobileMenu a {
    font-size: 4em;
    color: #FFFFFF;
    text-decoration: none;
}

.navLink {
    float: left;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #424242;
}

#navLinks a{
    
    padding-left: 1em;
    padding-right: 0em;
    
    width: 100%;
    color: #000000;
    font-size: 2.5em;   
}

.navLink:hover{
    background-color: #90CA77;
}

input[type='text'] {
    font-size: 2em;
}

input[type='button'] {
    font-size: 3em;
}

label {
    font-size: 2em;
}