/* 
    Document   : chantage-layout
    Created on : 22-aug-2013, 14:24:44
    Author     : matthiasba
    Description:
        Purpose of the stylesheet follows.
*/
@import "/templates/chantage/fonts/fonts.css";

body {
    padding: 0em;
    margin: 0em;
}

nav {
    
    background-color: #7C786A;
    width: 100%;
}

#navLinks {
    position: relative;
    display: inline-block;
    padding-top: 2em;
    padding-left: 50%;
    font-family: Diavlo-Black;
    font-size: 2em;
    color: #FFFFFF;
}

section {
    background-size: cover;
    height: 100%;
    font-family: colaborate-regular;
}

article {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: normal;
}

/* Verschillende secties */
#section1{
    position: relative;
    background-image: url('/templates/chantage/assets/moodimages/1.jpg');
}

#content1 {
    position: absolute;
    left: 5em;
    top: 12em;
    color:#FFFFFF;

}

#content1 h1 {

    font-family: Sketchetik-Light;
    font-size: 5em;
    font-weight: normal;
    margin-top: 0em;
    margin-bottom: 0.1em;
}

#content1 h2 {
    margin-top: 0em;
    margin-left: 5em;
    font-size: 1.5em;
    font-face: colaborate-regular;
    color: #E8D0A9;
}

#content1 article {
    margin-left: 8em;
    width: 35%;
}

#fonetisch {
    margin-top: 5em;
    font-family: arial;
    font-size: 1em;
    width: 35%;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    padding: 0.2em;
    margin-left: 15em;
}


#section2 {
    background-color: #C1DAD6;
}