
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/templates/chantage/chantage-layout.css">
    </head>
    <body>
        <nav>
            <div id="navLinks">
                Link1 | Link2 | Link3 | Link4
            </div>
        </nav>
        <section id="section1">
            <div id="content1"><h1>Tijd voor iets nieuws...</h1>
                <h2>Welkom op de website van projectkoor CHANTage!</h2>
                <article>Eind 2012 besloten een aantal enthousiastelingen dit nieuwe projectkoor op te richten. Via audities gingen we op zoek naar een groep talentvolle zangers en zangeressen waarmee we een hoog niveau konden halen. Uit de meer dan 100 kandidaten werden uiteindelijk 35 leden geselecteerd.</article>
                <div id='fonetisch'><b>Projectkoor/ [proˈjɛktkor]: Zelfst.naamw.:</b> Een koor dat zich niet vastpint op één bepaald genre. We brengen u een mix van klassieke stukken, jazz, pop, musical, traditionele nummers. Telkens iets nieuws, telkens een nieuwe uitdaging! </div>
            </div>       
        </section>
        <section id="section2">
            
        </section>
    </body>
</html>
