<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/templates/chantage/css/basic.css">
        
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-45186772-1', 'projectkoorchantage.be');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <header>
            <section id="header-content">
                <section id="header-left">
                Projectkoor CHANTage - info@projectkoorchantage.be
                </section>
                <section id="header-right">
                    <a href='https://www.facebook.com/koorchantage'><img src='/templates/chantage/assets/fb-logo.png'></a>
                    <a href='https://twitter.com/koorchantage'><img src='/templates/chantage/assets/twitter-logo.png'></a>
                    <a href='https://plus.google.com/u/0/b/106001403918641667283/106001403918641667283/posts'><img src='/templates/chantage/assets/gplus-logo.png'></a>
                </section>
            </section>
        </header>
        <section id="central-image">
            <section id="central-image-content">
                <nav>
                    <div id="logo"><img src="/templates/chantage/assets/chantage-klein.png"></div>
                    <ul>
                        <a href='/index.php'><li>STARTPAGINA</li></a>
                        <a href='/kerstconcert.php'><li>KERSTCONCERT</li></a>
                        <a href='/wieisbegonnen.php'><li>WIE IS BEGONNEN?</li></a>
                        <a href='/sponsors.php'><li>SPONSORS</li></a>
                        <li>AUDITIES</li>
                        <a href='/contact.php'><li>CONTACT</li></a>
                    </ul>
                </nav>
            </section>
        </section>
        <div id="diagonal-shell">
            <div id='diagonal'>
                <div id="orangeline"></div>
                <div id="whiteline"></div>
            </div>
        </div>
        <section id="content">
                  
            <section id="content-box">
                <PageContent>

            </section>
        </section>
        <section id="sponsors">
            <section id="sponsors-content">
                Met de steun van
                <section id='sponsor-logos'><img src='/templates/chantage/assets/sponsor-lotto.png'></section>
            </section>
        </section>
        <section id="footer">
            <section id="footer-center">
                &copy; Feitelijke vereniging Projectkoor CHANTage. Alle rechten voorbehouden
            </section>
        </section>
    </body>
</html>
