<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/basic.css">
        <link rel="stylesheet" href="/extracss/index.css">
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
    </head>
    <body>
        <header>
            <section id="header-content">
                <section id="header-left">
                Projectkoor CHANTage - info@projectkoorchantage.be
                </section>
                <section id="header-right">
                    TODO- links naar Facebook, Twitter, G+
                </section>
            </section>
        </header>
        <section id="central-image">
            <section id="central-image-content">
                <nav>
                    <div id="logo"><img src="assets/chantage-klein.png"></div>
                    <ul>
                        <li>STARTPAGINA</li>
                        <li>KERSTCONCERT</li>
                        <li>WIE IS BEGONNEN?</li>
                        <li>SPONSORS</li>
                        <li>AUDITIES</li>
                        <li>CONTACT</li>
                    </ul>
                </nav>
            </section>
        </section>
        <div id="diagonal-shell">
            <div id='diagonal'>
                <div id="orangeline"></div>
                <div id="whiteline"></div>
            </div>
        </div>
        <section id="content">
                  
            <section id="content-box">
            <div  id="index-sponsors" class="block">
                <h1>Met de steun van:</h1>
            </div>
            <div class="block">
                <h1>Tijd voor iets nieuws!</h1>
                <img src="/images/index/koor.png">
                <p>Eind 2012 besloten een aantal enthousiastelingen dat het tijd was voor een nieuwe uitdaging. Begin 2013 werden audities georganiseerd voor een nieuw projectkoor. Uit meer dan 100 kandidaten werden 35 zangers geselecteerd om het nieuwe koor op te starten. Ondertussen zijn we verschillende maanden verder en maakt projectkoor CHANTage zich op voor haar eerste concert. Achter de schermen wordt momenteel hard gewerkt en we popelen om u het resultaat te laten horen!</p>
            </div>
            <div class="block">
                <h1>ons volgende project</h1>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </div>

            </section>
        </section>
        <section id="sponsors">
            <section id="sponsors-content">
                Met de steun van
                <section id='sponsor-logos'></section>
            </section>
        </section>
        <section id="footer">
            <section id="footer-center">
                &copy; Feitelijke vereniging Projectkoor CHANTage. Alle rechten voorbehouden
            </section>
        </section>
    </body>
</html>
