<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/templates/chantage/css/basic.css">
        
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
    </head>
    <body>
        <header>
            <section id="header-content">
                <section id="header-left">
                Projectkoor CHANTage - info@projectkoorchantage.be
                </section>
                <section id="header-right">
                    <a href='https://www.facebook.com/koorchantage'><img src='/templates/chantage/assets/fb-logo.png'></a>
                    <a href='https://twitter.com/koorchantage'><img src='/templates/chantage/assets/twitter-logo.png'></a>
                    <img src='/templates/chantage/assets/gplus-logo.png'>
                </section>
            </section>
        </header>
        <section id="central-image">
            <section id="central-image-content">
                <nav>
                    <div id="logo"><img src="/templates/chantage/assets/chantage-klein.png"></div>
                    <ul>
                        <a href='/index.php'><li>STARTPAGINA</li></a>
                        <a href='/kerstconcert.php'><li>KERSTCONCERT</li></a>
                        <li>WIE IS BEGONNEN?</li>
                        <li>SPONSORS</li>
                        <li>AUDITIES</li>
                        <li>CONTACT</li>
                    </ul>
                </nav>
            </section>
        </section>
        <div id="diagonal-shell">
            <div id='diagonal'>
                <div id="orangeline"></div>
                <div id="whiteline"></div>
            </div>
        </div>
        <section id="content">
                  
            <section id="content-box">
                <PageContent>

            </section>
        </section>
        <section id="sponsors">
            <section id="sponsors-content">
                Met de steun van
                <section id='sponsor-logos'><img src='/templates/chantage/assets/sponsor-lotto.png'></section>
            </section>
        </section>
        <section id="footer">
            <section id="footer-center">
                &copy; Feitelijke vereniging Projectkoor CHANTage. Alle rechten voorbehouden
            </section>
        </section>
    </body>
</html>
