<html>
<head>
<title>tovermail</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor=#dfdfdf leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
<br />
<center>
<table width=752 border=0 cellpadding=0 cellspacing=0>
	<tr valign="middle">
		<td colspan=2>
			<img src="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/tovermail_01.png" width=122 height=97></td>
		<td colspan=2 width=630 height=97 background="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/tovermail_02.png" valign="middle">
        
		</td>
	</tr>
	<tr>
		<td colspan=4>
			<img src="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/tovermail_03.png" width=752 height=5></td>
	</tr>
	<tr>
		<td width=6 background="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/tovermail_04.png">
		</td>
		<td colspan=2 width=738 bgcolor="#FFFFFF">
        <font face="Arial, Helvetica, sans-serif" color="#333333">
        Er werd een reservatie doorgestuurd vanop www.3musketiers.be met volgende gegevens:<br /><br />
<center>
	<table border=0 WIDTH=450>
	<tr><td>Reservatienummer</td><td><b>305</b></td></tr>
	<tr><td>Naam</td><td><b>Test</b></td></tr>
	<tr><td>Voornaam</td><td><b>Test</b></td></tr>
	<tr><td>Mailadres</td><td><b>webmaster@detoverlantaarn.be</b></td></tr>
	<tr><td>Aantal tickets</td><td><b>5</b></td></tr>
	<tr><td>Voorstelling</td><td><b>1 april 2012</b></td></tr>
	<tr><td VALIGN="top">Bijkomende opmerkingen</td><td><b></b></td></tr>
	</table>
</center>
        </font>
		</td>
		<td width=8 background="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/tovermail_06.png">
		</td>
	</tr>
	<tr>
		<td colspan=4>
			<img src="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/tovermail_07.png" width=752 height=7></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/spacer.gif" width=6 height=1></td>
		<td>
			<img src="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/spacer.gif" width=116 height=1></td>
		<td>
			<img src="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/spacer.gif" width=622 height=1></td>
		<td>
			<img src="http://www.detoverlantaarn.be/templates/toverlantaarnmail/images/spacer.gif" width=8 height=1></td>
	</tr>
</table>
</center>
</body>
</html>