

<html>
    <head>
        <script type="text/javascript" src='/templates/jestaatnietalleen/javascript/navigatie.js'></script>
        <link href="/templates/jestaatnietalleen/css/main.css" rel="stylesheet" type="text/css" />
        <!--<link href="/templates/jestaatnietalleen/css/smartphone-portrait.css" media="only screen and (min-device-width : 320px) and (max-device-width : 480px)" rel="stylesheet" type="text/css" />-->
<!--        <link href="/templates/jestaatnietalleen/css/tablet.css" media="only screen and (min-device-width: 480px) and (max-device-width: 750px) and (orientation:portrait)" rel="stylesheet" type="text/css" />-->
        
        
        <title>Je staat niet alleen! - informatiesite voor werknemers</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    </head>
    <body>
        <div id="navigation" class='navBig'>
            
            
            
            <!CC cookies>
            <div id="navMain">
                <div id="mobileMenu">
                    <a href='javascript:toggleMobileMenuState()'>Menu</a>
                </div>
                                <div id="navLinks">
                    <span class='navLink'><a href='/index.php'>Startpagina</a></span>
                    <span class='navLink'><a href='/pages/nieuwsbrieven.php'>Nieuwsbrieven</a></span>
                    <span class='navLink'><a href='/modules/fotoalbum/presentation/showalbum.php'>Foto's</a></span>
                    <span class='navLink'><a href='/publicaties.php'>Publicaties</a></span>
                    <span class='navLink'><a href='/pages/sectoren.php'>Sectoren</a></span>
                    <span class='navLink'><a href='/pages/contact.php'>Contact</a></span>
                </div>
                 <div id="logo"><img src="/templates/jestaatnietalleen/images/logo.png" width="400"></div>
                 <div id="logoSmall"><img src="/templates/jestaatnietalleen/images/logo-klein.png"></div>  


          
            </div>
            <!--<div id="navSecondary">Test</div>-->
        </div>
        <div id='siteShell' class='navBig'>        
            <div class="block">
            <PageContent>  
            </div>
        </div>
        <div id="footer">&copy; jestaatnietalleen.be - Alle rechten voorbehouden - versie 1.04</div>        
        <!--Analytics-->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59594454-1', 'auto');
        ga('send', 'pageview');

      </script>
      <!--Analytics-->
    </body>
</html>
