
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src='/templates/jestaatnietalleen/javascript/navigatie.js'></script>
        <link href="/templates/jestaatnietalleen/css/main.css" rel="stylesheet" type="text/css" />
        <link href="/templates/jestaatnietalleen/css/smartphone-portrait.css" media="only screen and (min-device-width : 320px) and (max-device-width : 480px)" rel="stylesheet" type="text/css" />
        <link href="/templates/jestaatnietalleen/css/tablet.css" media="only screen and (max-device-height: 801px) and (orientation:landscape)" rel="stylesheet" type="text/css" />
        
        <title>Je staat niet alleen! - informatiesite voor werknemers</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id="navigation" class='navBig'>
            <div id="logo"><img src="/templates/jestaatnietalleen/images/logo.png" width="400"></div>
            <div id="logoSmall"><img src="/templates/jestaatnietalleen/images/logo-klein.png"></div>            
            <div id="mobileMenu">
                    <a href='javascript:toggleMobileMenuState()'>Menu</a>
            </div>
            <div id="navMain">
                <div id="navLinks">
                    <span class='navLink'><a href='/index.php'>Startpagina</a></span>
                    <span class='navLink'><a href='/pages/nieuwsbrieven.php'>Nieuwsbrieven</a></span>
                    <span class='navLink'><a href='http://www.acv-online.be/Publicaties_en_documentatie/Folders_en_brochures/Folders_en_brochures.asp'>Publicaties</a></span>
                    <span class='navLink'><a href='http://acv-brugge-oostende-westhoek.acv-online.be/Dienstverlening/ACVCentrales/Centrales.asp'>Centrales</a></span>
                    <span class='navLink'><a href='#'>Contact</a></span>
                </div>

            </div>
            <!--<div id="navSecondary">Test</div>-->
        </div>
        <div id='siteShell' class='navBig'>        
            <div class="block">
            <PageContent>  
            </div>
        </div>
    </body>
</html>
