
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37221185-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />

<title>Projectkoor organiseert audities en zoekt zangers of zangeressen</title>

     <meta property="fb:app_id"               content="316000411841757"> 
     <meta property="og:type"                 content="website"> 
     <meta property="og:url"                  content="http://www.projectkoor.be"> 
     <meta property="og:image"                content="http://www.projectkoor.be/plogo.png">
     <meta property="og:title"                content="Projectkoor zoekt zangers/zangeressen">
     <meta property="og:description"          content="Nieuw projectkoor zoekt zangers (M/V). In de regio Diksmuide wordt een nieuw koor boven de doopvont gehouden. Interesse? Surf dan supersnel naar www. projectkoor.be. Deel deze link met zoveel mogelijk van je vrienden !">
              
<link href="/templates/projectkoor/positioning.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1&appId=316000411841757";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="bovenbalk">&copy; Projectkoor.be - Alle rechten voorbehouden</div>

<div id="logo">
<img src="/templates/projectkoor/logo.png" class="logo"/>
</div>

<div id="content">
<PageContent>
<br /><br />
</div>
</body>
</html>