<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/templates/onderhoud/binnenkort.css">
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id='beeld'></div>
        <div id='line'>
            <div id='logo'><img src='/templates/onderhoud/chantage-glow.png'>
            </div>
        </div>
        <div id='message'>
            <h1>CHANTage TESTSERVER</h1>
            Dit is een testserver van Projectkoor CHANTage. Enkel onze testers kunnen deze site gebruiken. Voor meer info bezoek <a href="http://www.projectkoorchantage.be">www.projectkoorchantage.be</a>
            <div id='loginlink'><a href='/core/presentation/usermanagement/accounts/login.php'>Login voor testers</a></div>
        </div>
        
    </body>
</html>
