/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-jan-2014, 14:08:33
    Author     : matthiasba
*/

.imagePreview .imageOptions {
    position: absolute;
    display: block;
    height: 1em;
    background-color: #333333;
    color: #FFFFFF;
    bottom: -2em;
    width: 100%;
    padding: 0.4em;
    
    transition: bottom 1s;
}

.imageOptionsOver {
    position: absolute;
    display: block;
    height: 1em;
    background-color: #333333;
    color: #FFFFFF;
    bottom: 0em;
    width: 100%;
    padding: 0.4em;
    
    transition: bottom 0.5s;
}

.imageOptions,.imageOptionsOver {
    text-align: right;
}

img.editButtons {
    width: 15px;
    margin-right: 5px;
}

#description {
    height: 8em;
    top: -8em;
}

#controls {
    top: -8em;
    margin-bottom: -8em;
}

#newalbum {
    background-color: #DDDDDD;
    border-color: #666666;
    border-width: 1px;
    border-style:  dotted;
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#newalbum h2 {
    margin-top: 0.5em;
}

#newalbum #description, #descriptionfield {
    
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    padding: 0.5em;
    margin-bottom: 0.5em;
    
}

#newalbum #errorlist {
    color: #FC3333;
    margin-bottom: 0.5em;
}