/* 
    Document   : showphoto
    Created on : 6-nov-2013, 21:31:01
    Author     : matthiasba
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    
}

body {
    margin: 0px;
}

.viewer {
    width: 1000px;
    border: 1px #000000 solid;
}

.imagePreview {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 100px;
}

.imagePreview img {
    
    width: 150px;
}

#displayContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(20,20,20,0.7);
    vertical-align:  middle;
    z-index: 5000;
    
}

#photoDisplayer {  
    position: relative;
    display: block;
    background-color: rgba(10,10,10,0.8);
    //width: 70em;
    width: 60%;
    min-height: 1em;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    padding: 1em;
}

#photoDisplayer.portraitMode {
    width: 31em;
    
}

#photoContainer {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 1em;
    overflow: hidden;
    
}

#closebutton {
    position: absolute;
    right: -0.40em;
    top: -0.40em;
}

#photo {
    width: 100%;
    max-height: 800px;
}

#description {
    position: relative;
    top: -4.3em;
    background-color: rgba(20,20,20,0.4);
    border-radius: 0px;
    height: 4em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    color: #FFFFFF;
    overflow:auto;
    margin-bottom: 0em;
    
}

#controls {
    display: block;
    height: 2em;
    background-color: #333333;
    border-radius: 0em;
    position: relative;
    top: -4.3em;
    vertical-align: middle;
    margin-bottom: -4.3em;
    
}

#controls img {
    display: inline;
    height: 75%;
    vertical-align: middle;
    padding-top: 0.2em;
    margin-left: 0.05em;
    margin-right: 0.05em;
}

.albumcover {
    background-color: #DDDDDD;
    padding: 1em;
    float: left;
    border-radius: 1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;

}

.coverimg {
    max-height: 10em;
    overflow: hidden;
}

.albumcover img {
    display: inline-block;
    max-width: 15em;
    width: 15em;
   
}

.albumcover h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    
}

.albumcover a {
    text-decoration: none;
}