<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>werken in een KMO - jestaatnietalleen.be</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="/templates/onderhoud/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id='upperhalf'><img src='/templates/onderhoud/logo.png'></div>
        <div id='bottomhalf'>
            <h1>Even geduld... wij zijn zo bij u terug</h1>
            <div>
                Momenteel worden onderhoudswerkzaamheden uitgevoerd op onze website.
                <p>Probeer dus later nog eens opnieuw.
            </div>
        </div>
    </body>
</html>
