<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/templates/onderhoud/binnenkort.css">
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id='beeld'></div>
        <div id='line'>
            <div id='logo'><img src='/templates/onderhoud/chantage-glow.png'>
            </div>
        </div>
        <div id='message'>
            <h1>Even geduld... we komen zo bij u terug!</h1>
            onze website is momenteel offline voor onderhoud. Probeer straks nog eens!
            
        </div>
        
    </body>
</html>
