<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Controlcenter2 Alpha</title>
<link href="/templates/alpha3/alpha3.css" rel="stylesheet" type="text/css" />
</head>
<body>
<DIV id="bodyshell">
	<DIV id="header">
	<IMG SRC="/templates/alpha3/alpha_03.gif" />
    </DIV>
    <DIV id="navbar">
    <IMG src="/templates/alpha3/alpha_07.gif" />
    </DIV>
    <DIV id="content">
    <form method="post" action="/core/presentation/usermanagement/accounts/login.php"><input type="hidden" name="d" value="/" />
    Gebruikersnaam<input type="text" name="u" id="u" />&nbsp;Wachtwoord<input type="password" name="p" />&nbsp;<input type="submit" VALUE="Login"/>
    </form>
    <p><PageContent>
    </DIV>

</DIV>
</body>
</html>
