<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body bgcolor="#444444">
    <center><img src="http://www.jestaatnietalleen.be/templates/jestaatnietalleen-mail/assets/logo3.png"></center>
    <p>
    <center>
    <font face="arial" color="#FFFFFF">
    <PageContent>
    </font></center>
    </body>
</html>
