/* 
    Document   : kerstconcert
    Created on : 23-okt-2013, 20:20:13
    Author     : matthiasba
    Description:
        Purpose of the stylesheet follows.
*/

#map {
    float: left;
    margin-right: 1em;
}

