body {
    background-color: #19171c;
}

.block {
    color: #DDDDDD;
    font-size: 1em;
}

#bovenste2rijen {
    position: relative;
    top: 1em;
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align:  center;
    z-index: 2;
}

    #bovenste2rijen img {
      height: 50em;

    }

#luminouslogo {
    position: relative;
    top: -33em;
    text-align: center;
    width: 100%;
    
    z-index: 1;
    margin-bottom: -33em;
}

    #luminouslogo img {
        height: 35em;
    }
    

#luminous-content {
    
    position: relative;
    top: -2em;
    margin-left: auto;
    
    font-size: 1.2em;
    
    width: 50em;
    height: 100%;
    margin-right: auto;
    z-index: 2;
    
}

#ondersterijen {
    position: relative;
    top: -3em;
    width: 100%;
    text-align:  center;
    margin-bottom: -2em;
    z-index: 1;
}

    #ondersterijen img {
        height: 25em;
    }

    #waarwanneer {
        width: 23em;
    }
    
    #tickets {
        float: right;
        width: 23em;
    }
    
    #bestelknop {
        background-color: #6B5B4B;
        border-radius: 30px;
        padding: 0.5em;
        text-align:  center;
    }

    #bestelknop:hover {
        background-color: #FFFFFF;
    }
    
        #bestelknop h2 {
            margin: 0em;
            color: #000000;
        }

        #bestelknop h1 {
            margin: 0em;
            color: #F1AE1E;
            font-weight: bolder;
        }
        
        #bestelknop a {
            text-decoration: none;
        }
        
        #audioList {
            list-style: none;
        }