/* 
    Document   : sponsors
    Created on : 1-nov-2013, 11:38:49
    Author     : matthiasba
    Description:
        Purpose of the stylesheet follows.
*/

#sponsors {
    display: none;
}


img {
    vertical-align: middle;
}

.blocksponsors {
   margin-bottom: 3em;
}

.blocksponsors img {
    margin-right: 1em;
    margin-bottom: 1em;

}